<%- include('./partials/header.ejs') %>
<section class="header">
    <div class="text-box">
        <h1 class>A TASTE OF FOODIE</h1>
        <p>Make your foodie list!</p>
    </div>
    <nav class="home-nav">
        <ul>
            <li><a href="/user/register">Register</a></li>
            |
            <li><a href="/user/signin">Sign In</a></li>
        </ul>
    </nav>

</section>
<%- include('./partials/footer.ejs') %>