<%- include('./partials/header.ejs') %>
<a href="/user/signin">Sign In</a>
<a href="/user/signout">Sign out</a>

    <a href="/foodie"><input type = "button" value="restaurant"></a>
<%- include('./partials/footer.ejs') %>