<%- include('./partials/header.ejs') %>
    <a href="/user/register">Register</a>
    <a href="/user/signin">Sign In</a>
    <a href="/user/signout">Sign out</a>
    <p>Thanks for using our site</p>
    <a href="/foodie"><input type = "button" value="foodie"></a>
<%- include('./partials/footer.ejs') %>