<%- include('./partials/header.ejs') %>
<%- include('./partials/header.ejs') %>
<nav class="show-nav">
    <ul>
        <li> <a href="/foodie">Back to restaurant</a></li>
        |
        <li><a href="/user/signout">Sign Out</a></li>
    </ul>
</nav>
    <h1 class="new-title">A TASTE OF FOODIE</h1>
    <h2 class="new-h2">Add a restaurant and cuisines</h2>
    <form action="/foodie" method="POST" id="new-form">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" placeholder="Enter the restaurant's name" class="new-p">
        <label for="location">location: </label>
        <input id="location" type="text" name="location" placeholder="Enter the restaurant's Address" class="new-p">
        <label for="cuisine">Cuisine: </label>
        <input id="cuisine" type="text" name="cuisine" placeholder="Enter the food's name" class="new-p">
        <label for="rating">Rating: </label>
            <select name="rating" id="rating" class="new-p">
                <option value="1" >⭐</option>
                <option value="2">⭐⭐</option>
                <option value="3">⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
            </select>
        <label for="comment">Comment: </label>
        <textarea id="comment" name="comment" placeholder="Enter your comment" class="new-p"></textarea>      
        <input type="submit" value="Add a cuisine" id="upload-btn">
</form>
</body>
</html>
