<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a Restaurant</h1>
    <form action="/foodie/restaurant" method="POST">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" placeholder="Enter the restaurant's name">
        <label for="location">location: </label>
        <input id="location" type="text" name="location" placeholder="Enter the restaurant's location">
        <label for="image">Image: </label>
        <input id="image" type="text" name="image" placeholder="Add the restaurant's image">
        <input type="submit" value="Add a restaurant">
    </form>
</body>
</html>