<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Edit a Restaurant</h1>
        <form action="/foodie/restaurant/<%=restaurant.id%>?_method=PUT" method="POST">
            Name: <input id="name" type="text" name="name" value="<%=restaurant.name%>">
            Location: <input id="location" type="text" name="location" value="<%=restaurant.location%>">
            Image: <input id="image" type="text" name="image" >
            <input type="submit" value="Edit a restaurant">
        </form>
</body>
</html>