<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/foodie/restaurant">Back to restaurant</a>
    <ul>
        <% for(let i=0; i<cuisine.length; i++) { %>
            <li>
                <%= cuisine[i].name%>
                <%= cuisine[i].rating%>
                <%= cuisine[i].comment%>
                <%= cuisine[i].img %>
            </li>
        <%}%>
    </ul>
  
    <a href="/foodie/restaurant/:id/new"><input type="submit" value="Add a new cuisine"></a>
</body>
</html> 